@{
    var olderPosts = Documents[Blog.BlogPosts].Skip(Model.DocumentList(Keys.PageDocuments).Count).Take(4);
}

<div class="container">
    <div class="row">
        <main class="col-lg-8">
            @Html.Partial("_PostList", Model.DocumentList(Keys.PageDocuments))
        </main>
        <aside class="col-lg-4">
            @Html.Partial("_WidgetTags")

            @if(olderPosts.Any()) {
                @Html.Partial("_WidgetPosts", olderPosts)
            }

            @Html.Partial("_WidgetContacts")
        </aside>
    </div>
</div>