@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-xl-8">
            @RenderBody()
        </main>
        <aside class="col-xl-4">
            @Html.Partial("_TagsWidget")
        </aside>
    </div>
</div>