@{
    Layout = "_Layout";

    var disableTagsWidget = this.ViewBag.DisableTagsWidget ?? false;
}

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="col-xl-8">
            @RenderBody()
        </main>
        <aside class="col-xl-4">
            @if (!disableTagsWidget) {
                @Html.Partial("_WidgetTags")
            }
            
            @Html.Partial("_WidgetContacts")
        </aside>
    </div>
</div>