@{
    Layout = "_LayoutWithSidebar";
    var postImage = Model.String(BlogKeys.Image);
}

<div class="container post">
    @if(postImage != null) {
        <div class="post-thumbnail"><img src="@postImage" class="img-fluid"></div>
    }
    
    <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
    
    @RenderBody()

</div>
