Title: All Tags
---
@{
    Layout = "_Layout";

    var tags = Documents[Blog.Tags]
        .GroupBy(x => x.String(BlogKeys.Tag)).Select(x => x.Where(p => p.Get<int>(Keys.CurrentPage) == 1).First())
        .OrderByDescending(x => x.Get<int>(Keys.TotalItems));
}

<div class="container">
    <div class="row">
        <main class="col post">
            <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>

            <div class="post-body">
                <ul class="list-inline post-tags mt-4 ml-0">
                    @foreach (IDocument tagDocument in tags) {
                        string tag = tagDocument.String(BlogKeys.Tag);
                        string postCount = tagDocument.String(Keys.TotalItems);
                        <li class="list-inline-item">
                            <a class="tag" href="@Context.GetLink(tagDocument)"> @tag (@postCount)</a>
                        </li>
                    }
                </ul>
            </div>
        </main>
    </div>
</div>