@{
    var tags = Documents[Blog.Tags]
        .GroupBy(x => x.String(BlogKeys.Tag)).Select(x => x.Where(p => p.Get<int>(Keys.CurrentPage) == 1).First())
        .OrderByDescending(x => x.Get<int>(Keys.TotalItems));
}

<!-- Widget [Tags Cloud Widget]-->
<div class="widget tags">
    <header>
        <h3 class="h6">Tags</h3>
    </header>
    <ul class="list-inline">
        @foreach (IDocument tagDocument in tags) {
            string tag = tagDocument.String(BlogKeys.Tag);
            string postCount = tagDocument.String(Keys.TotalItems);
            <li class="list-inline-item">
                <a class="tag" href="@Context.GetLink(tagDocument)"> @tag (@postCount)</a>
            </li>
        }
    </ul>
</div>