<div class="widget contacts">
    <header>
        <div class="header-text">Get in touch</div>
    </header>
    <ul class="social-links">
        <li class="social-link"><a href="@Context.GetLink(Context.String(BlogKeys.RssPath))"><img class="rss" src="/assets/icons/rss.svg"></a></li>
        <li class="social-link"><a href="mailto:lukas@kabrt.cz"><img src="/assets/icons/email.svg"></a></li>
        <li class="social-link"><a href="https://stackoverflow.com/users/247656/lukas-kabrt"><img class="so" src="/assets/icons/stack-overflow.svg"></a></li>
        <li class="social-link"><a href="https://github.com/lukaskabrt"><img src="/assets/icons/github.svg"></a></li>
        <li class="social-link"><a href="https://twitter.com/LKabrt"><img src="/assets/icons/twitter.svg"></a></li>
        <li class="social-link"><a href="https://www.strava.com/athletes/27059142"><img class="strava" src="/assets/icons/strava.svg"></a></li>
    </ul>
</div>